**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
.github/**
.gitignore
.vscode-test/**
.vscode/**
.vscode/funding.yml
.yarnrc
bun.lock
DEVELOPMENT.md
eslint.config.mjs
funding.yml
out/test/**
package-lock.json
src/**
theme.css
vsc-extension-quickstart.md
