**/*.map
**/*.ts
**/.eslintrc.json
**/.map
**/.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
bun.lock
eslint.config.mjs
package-lock.json
src/**
theme.css
vsc-extension-quickstart.md
